<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragments/fragment::head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>"Квинс-арго"ЕООД</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:replace="fragments/fragment::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Добавяне на нов клиент</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:object="${clientAddBindingModel}" th:method="POST" th:action="@{/clients/add-client}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">МОЛ</label>
            </div>
            <input th:field="*{name}" th:errorclass="bg-danger" type="text" class="form-control" id="name" name="count"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Price error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="firmName" class="h4 mb-2">Име на фирма</label>
            </div>
            <input th:field="*{firmName}" th:errorclass="bg-danger" type="text" class="form-control" id="firmName" name="count"/>
            <small th:if="${#fields.hasErrors('firmName')}" th:errors="*{firmName}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="bulstat" class="h4 mb-2">Булстат</label>
            </div>
            <input th:field="*{bulstat}" th:errorclass="bg-danger" type="number"  class="form-control" id="bulstat" name="count"/>
            <small th:if="${#fields.hasErrors('bulstat')}" th:errors="*{bulstat}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="dds" class="h4 mb-2">Ид. по ДДС</label>
            </div>
            <input th:field="*{dds}" th:errorclass="bg-danger" type="number"  class="form-control" id="dds" name="count"/>
            <small th:if="${#fields.hasErrors('dds')}" th:errors="*{dds}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="address" class="h4 mb-2">Адрес</label>
            </div>
            <input th:field="*{address}" th:errorclass="bg-danger" type="text"  class="form-control" id="address" name="count"/>
            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="telephone" class="h4 mb-2">Телефон</label>
            </div>
            <input th:field="*{telephone}" th:errorclass="bg-danger" type="number" class="form-control" id="telephone" name="count"/>
            <small th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger">Price error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Добави</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/fragment::footer" class="footer bg-transparent  py-2"></footer>
</body>
</html>
