<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >



<head th:replace="fragments/fragment::head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>"Квинс-арго"ЕООД</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:replace="fragments/fragment::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Износ</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:object="${exportBindingModel}" th:method="POST" th:action="@{/egg/export}">

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">База</label>
            </div>
            <select th:field="*{categoryBaseEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="category" name="category">
                <option value="">Избери база</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.CategoryBaseEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('categoryBaseEnum')}" th:errors="*{categoryBaseEnum}" class="text-danger">Hale error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Категория</label>
            </div>
            <select th:field="*{categoryEggEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryEgg" name="category">
                <option value="">Избери категория</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.CategoryEggEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('categoryEggEnum')}" th:errors="*{categoryEggEnum}" class="text-danger">Hale error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Вид амбалаж</label>
            </div>
            <select th:field="*{categoryCartonsEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryEgg" name="category">
                <option value="">Избери категория</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.CategoryCartonsEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('categoryCartonsEnum')}" th:errors="*{categoryCartonsEnum}" class="text-danger">Hale error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Клиент</label>
            </div>
            <select th:field="*{clientEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryEggo" name="category">
                <option value="">Избери категория</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.ClientEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('clientEnum')}" th:errors="*{clientEnum}" class="text-danger">Hale error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Вид палет</label>
            </div>
            <select th:field="*{palletTypeEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryEggp" name="category">
                <option value="">Избери категория</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.PalletTypeEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('palletTypeEnum')}" th:errors="*{palletTypeEnum}" class="text-danger">Hale error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Допълнително използвани кори за капаци</label>
            </div>
            <select th:field="*{categoryCartonsEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryEggо" name="category">
                <option value="">Избери кори</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.CategoryCartonsEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('categoryCartonsEnum')}" th:errors="*{categoryCartonsEnum}" class="text-danger">Hale error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Вид</label>
            </div>
            <select th:field="*{typeExportEnum}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryType" name="category">
                <option value="">Избери вид на износа</option>
                <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.TypeExportEnum).values()}"
                        th:text="${c}" th:value="${c}"></option>
            </select>
            <small th:if="${#fields.hasErrors('typeExportEnum')}" th:errors="*{typeExportEnum}" class="text-danger">Hale error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Цена</label>
            </div>
            <input th:field="*{price}" th:errorclass="bg-danger" type=number step=0.01 class="form-control" id="price" name="price"/>
            <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Price error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="count" class="h4 mb-2">Брой палети</label>
            </div>
            <input th:field="*{countPallet}" th:errorclass="bg-danger" type="number" step="0.1" class="form-control" id="count" name="count"/>
            <small th:if="${#fields.hasErrors('countPallet')}" th:errors="*{countPallet}" class="text-danger">Count error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="count" class="h4 mb-2">Вид хартия</label>
            </div>
            <input th:field="*{typeOfPaper}" th:errorclass="bg-danger" type="number" step="0.1" class="form-control" id="count" name="count"/>
            <small th:if="${#fields.hasErrors('typeOfPaper')}" th:errors="*{typeOfPaper}" class="text-danger">Count error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="count" class="h4 mb-2">Вид ъгъл</label>
            </div>
            <input th:field="*{typeOfCorner}" th:errorclass="bg-danger" type="number" step="0.1" class="form-control" id="count" name="count"/>
            <small th:if="${#fields.hasErrors('typeOfCorner')}" th:errors="*{typeOfCorner}" class="text-danger">Count error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Дата</label>
            </div>
            <input th:field="*{date}" th:errorclass="bg-danger" type="date" class="form-control" id="neededBefore" name="neededBefore"/>
            <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger">Needed before date error</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Продай</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/fragment::footer" class="footer bg-transparent  py-2"></footer>
</body>
</html>
