<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
    <header>
        <nav  class="navbar navbar-expand-lg bg-nav rounded">
            <a sec:authorize="!isAuthenticated()" class="nav-link text-white active h5" th:href="@{/users/register}" th:method="POST">Регистрация</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link text-white active h5" th:href="@{/users/login}">Логин</a>
        </nav>
    </header>
    <main>
<h5 sec:!authentication="name"></h5>
    </main>
</body>
</html>
