<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<meta charset="UTF-8"/>
<body>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Броя за прехвърляне на амбалаж надхърля количеството или липсва тази категория!</span></h1>
    <br>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"> Натисни <a th:href="@{/home}">тук</a>
    за връщане към началната страница.</span></h1>
    <br>
    <br>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"> Натисни <a th:href="@{/packing/count-cartons-for-transfer}">тук</a>
    за да провериш наличностите, които са освободени !</span></h1>
</main>
</body>
</html>