<div class="topnav" id="myTopnav">
    <a  sec:authorize="isAuthenticated()" class="nav-link text-white active h5" th:href="@{/home}">Квинс агро ЕООД</a>
    <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/hales/delete}">Оптисване кокошки</a>
    <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/egg/sells}">Продажби</a>
    <div class="dropdown">
        <button class="dropbtn">Администраторски панел
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/admin/{id}/edit-profile}">Редактиране на профил</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Добавяне
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/products/add}">Добавяне на яйца</a>
            <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/hales/add}">Добавяне на кокошки</a>
            <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/cartons/add-cartons}">Добавяне на амбалаж</a>
            <a sec:authorize="isAuthenticated()" class="nav-link text-white  h5" th:href="@{/clients/add-client}">Добавяне на клиент</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Справки
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a sec:authorize="isAuthenticated()"   th:href="@{/allCountTableByCategory}">Наличност</a>
            <a sec:authorize="isAuthenticated()"  th:href="@{/count-hens-now}">Наличност кокошки</a>
            <a sec:authorize="isAuthenticated()"  th:href="@{/count-cartons-now}">Наличност амбалаж</a>
            <a sec:authorize="isAuthenticated()"  th:href="@{/percentage-table}">Процентна таблица</a>
        </div>
    </div>
    <a  class="nav-link text-white h5" th:href="@{/users/logout}" sec:authorize="isAuthenticated()">Излез</a>
</div>