<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragments/fragment::head">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>"Квинс-арго"ЕООД</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:replace="fragments/fragment::nav"></header>
<main>
  <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Екран продажби</span></h1>
  <hr class="hr-3 w-25 bg-white"/>
  <form class="mx-auto w-25 bg-blur rounded" th:object="${sellBindingModel}" th:method="POST" th:action="@{/egg/sells}">

    <div class="form-group">
      <div class="text-white label-holder d-flex justify-content-center">
        <label for="category" class="h4 mb-2">Категория</label>
      </div>
      <select th:field="*{categoryEgg}" th:errorclass="bg-danger" class="browser-default custom-select" id="category" name="category">
        <option value="">Избери категория на яйцата</option>
        <option th:each="c : ${T(com.example.projectsoftuni.model.entity.enums.CategoryEggEnum).values()}"
                th:text="${c}" th:value="${c}">XL</option>
      </select>
      <small th:if="${#fields.hasErrors('categoryEgg')}" th:errors="*{categoryEgg}" class="text-danger">Category error message</small>
    </div>

    <div class="form-group">
      <div class="text-white label-holder d-flex justify-content-center">
        <label for="category" class="h4 mb-2">Вид амбалаж</label>
      </div>
      <select th:field="*{categoryCartons}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryCartons" name="categoryCartons">
        <option value="">Избери амбалаж</option>
        <option th:each="a : ${T(com.example.projectsoftuni.model.entity.enums.CategoryCartonsEnum).values()}"
                th:text="${a}" th:value="${a}">CARTONS_120</option>
      </select>
      <small th:if="${#fields.hasErrors('categoryCartons')}" th:errors="*{categoryCartons}" class="text-danger">Category error message</small>
    </div>

    <div class="form-group">
      <div class="text-white label-holder d-flex justify-content-center">
        <label for="category" class="h4 mb-2">База</label>
      </div>
      <select th:field="*{categoryBase}" th:errorclass="bg-danger" class="browser-default custom-select" id="categoryBase" name="categoryBase">
        <option value="">Избери база</option>
        <option th:each="b : ${T(com.example.projectsoftuni.model.entity.enums.CategoryBaseEnum).values()}"
                th:text="${b}" th:value="${b}">ГОРНА</option>
      </select>
      <small th:if="${#fields.hasErrors('categoryBase')}" th:errors="*{categoryBase}" class="text-danger">Category error message</small>
    </div>

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="count" class="h4 mb-2">Брой</label>
      </div>
      <input th:field="*{countOfEgg}" th:errorclass="bg-danger" type="number"  class="form-control" id="count" name="count"/>
      <small th:if="${#fields.hasErrors('countOfEgg')}" th:errors="*{countOfEgg}" class="text-danger">Count error message</small>
    </div>
    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="price" class="h4 mb-2">Цена</label>
      </div>
      <input th:field="*{price}" th:errorclass="bg-danger" type=number step=0.01 class="form-control" id="price" name="price"/>
      <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Price error message</small>
    </div>

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="bulstat" class="h4 mb-2">Булстат</label>
      </div>
      <input th:field="*{bulstat}" th:errorclass="bg-danger" type="number" step="0.1" class="form-control" id="bulstat" name="count"/>
      <small th:if="${#fields.hasErrors('bulstat')}" th:errors="*{bulstat}" class="text-danger">Bulstat error message</small>
    </div>

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="neededBefore" class="h4 mb-2">Дата</label>
      </div>
      <input th:field="*{addDate}" th:errorclass="bg-danger" type="date" class="form-control" id="neededBefore" name="neededBefore"/>
      <small th:if="${#fields.hasErrors('addDate')}" th:errors="*{addDate}" class="text-danger">Needed before date error</small>
    </div>

    <div class="button-holder d-flex justify-content-center">
      <button type="submit" class="btn btn-warning  mb-3" value="Register">Продай</button>
    </div>
  </form>
</main>

<footer th:replace="fragments/fragment::footer" class="footer bg-transparent  py-2"></footer>
</body>
</html>
